@inherits LayoutComponentBase
<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">
    <div class="justify-content-center">
        <NavMenu />
    </div>
    <div class="container">
        @Body
    </div>

</div>